@using Driver.Helpers;
@using System.Security.Claims;
@using System.Security.Principal;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>

<div class="div-title">
    <h1 class="text-center"><i class="ti-crown text-primary"></i>GESTION DE FLOTA DE CAMIONES</h1>
</div>

