@model Driver.web.Data.Entities.MDUsuario
<!DOCTYPE html>
@{ Layout = null; }
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/RoyalUI-Admin-master/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/RoyalUI-Admin-master/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/RoyalUI-Admin-master/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/RoyalUI-Admin-master/images/favicon.png" />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<!--Validacion para desplegar Mensaje despues del POST-->
@if (TempData["success"] != null)
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Mensaje: </strong> @Html.Encode(TempData["success"])
    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </a>
</div>
}
@if (TempData["error"] != null)
{
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Mensaje: </strong> @Html.Encode(TempData["Error"])
    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </a>
</div>
}
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="~/RoyalUI-Admin-master/images/logo.svg" alt="logo">
                            </div>
                            <h4>Por favor ingrese los siguientes datos:</h4>
                            <form class="pt-3" asp-action="Registrar" asp-controller="Home" method="post" id="login">
                                <div class="form-group">
                                    <input asp-for="Usua_user" type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <input asp-for="Usua_nombres" type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Nombres">
                                </div>
                                <div class="form-group">
                                    <input asp-for="Usua_apellidos" type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Apellidos">
                                </div>
                                <div class="form-group">
                                    <input asp-for="Usua_email" type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input asp-for="Usua_pass" type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                @*<div class="mb-4">
                                        <div class="form-check">
                                            <label class="form-check-label text-muted">
                                                <input type="checkbox" class="form-check-input">
                                                Acepta todos los Terminos & Condiciones
                                            </label>
                                        </div>
                                    </div>*@
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">REGISTRAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
</body>

