@{
	ViewData["Title"] = "Documentos Chofer";
	 Layout="~/Views/Shared/_Layout.cshtml";
}

<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<br />
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			 <div class="div-title">
				<h3 class="text-center">DOCUMENTOS CHOFER</h3>
			 </div>
			 <hr />
			 <br />		
			 <div class="container-fluid">  
				 <div class="row">
					 <input type="hidden" id="id_doccab" value=""  />
					 <input type="hidden" id="doccab_tipo" value="C"  />
					 <div class="form-group col">
						<label class="control-label">(*) Chofer: </label>
						<select class="form-control" id="id_chofer" asp-items="@(new SelectList(ViewBag.chofer, "id_chofer", "chofer_nomcompleto"))">
                            <option>Seleccione chofer</option>
                        </select>					
					</div>
				 </div>
				  <div class="row">
					 <div class="form-group col">
						<label class="control-label">(*) Nro. documento: </label>
						<input id="doccab_cod" value="@ViewData["Nrodoc"]" placeholder="Nro. Documento" class="form-control" />							
					</div>
					<div class="form-group col">
						<label class="control-label">(*) Descripcion: </label>
						<input id="doccab_desc" placeholder="Descripcion" class="form-control" />						
					</div>														    
				 </div>
				 <div class="row">
					 <div class="col-md-6">
						<button id="btnsave" class="btn btn-success btn-sm">Guardar</button>
						<button id="btnAddnew" class="btn btn-primary btn-sm">Limpiar Datos</button>	
					</div>	
				 </div>
				 <br />
                 <div class="row">
					 <div class="col-md-6">
						<h6><label>Campos obligatorios(*)</label></h6>
					</div>	
				 </div>
			 </div>
		</div>
	<div class="card-body">
			<table id="tblchofer" class="table table-striped table-bordered" style="width: 100%">
				<thead>
					<tr>
						<th class="d-none">ID</th>
						<th class="d-none">id_chofer</th>
						<th>Chofer</th>
						<th>Nro. Documento</th>
						<th>Descripcion</th>
						<th>Estado</th>
						<th>Accciones</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>


@section Scripts {
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			 $(function () {
				$("#id_chofer").select2({

				});	
			});
			var id = $("#doccab_tipo").val()
			$('#tblchofer').DataTable({
				"ajax": {
				"url": "/api/SVMDDocumento_Cabecera/" + id,
				"dataSrc": ""				
				},
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				},
                "scrollX": true,
                "responsive": true,								
				"columns": [
					{ data: 'id_doccab', "visible": false },
					{ data: 'id_chofer', "visible": false },
					{ data: 'chof_nomcomp' },
					{ data: 'doccab_cod' },
					{ data: 'doccab_desc' },
					{ data: 'doccab_est'},
					{
						data: "id", render: function (data, type, row, meta) {
							return "<button class='btn btn-primary btn-sm' onclick='Edit(" + JSON.stringify(row) + ")'>Agregar</button>" +
								   "<button class='btn btn-danger btn-sm'  onclick='Delete(" + JSON.stringify(row) + ")'>Eliminar</button>";
						}
					}
				],
				"rowCallback": function( row, data, index ) {
								if (data.doccab_est == "V") {
									$('td', row).css('background-color', 'Red');
								}
								else if (data.doccab_est == "P") {
									$('td', row).css('background-color', 'Yellow');
								}
								else  {
									$('td', row).css('background-color', 'White');
								}
				}		   
			});		

			$("#btnsave").click(function() {
				var	id_chofer = $("#id_chofer").val();					
				var	doccab_cod = $("#doccab_cod").val();
				var	doccab_tipo = $("#doccab_tipo").val();
				var	doccab_desc = $("#doccab_desc").val();

				if(id_chofer === 'Seleccione chofer' || doccab_cod === '' || doccab_tipo === '' || doccab_desc === ''){
					swal('Mensaje de advertencia', 'Complete los campos requeridos', 'error');
				}
                else{
					var origin = $(location).attr('origin'); 
					var url = origin + '/api/SVMDDocumento_Cabecera';
					var mDDocumento_Cabecera = {
						id_doccab: $.trim($("#id_doccab").val()) == "" ? 0 : $("#id_doccab").val(),  
						id_chofer: $("#id_chofer").val(),
						chof_nomcomp: "",
						id_vehi: 0,
						vehi_placa: "",
						doccab_cod: $("#doccab_cod").val(),
						doccab_tipo: $("#doccab_tipo").val(),
						doccab_desc: $("#doccab_desc").val()
					};
				
					$.post(url, { mDDocumento_Cabecera : mDDocumento_Cabecera })
					.done(function (data) {
						Reset();
						ReloadGrid();
						swal('Mensaje de confirmacion', 'Registro Grabado', 'success');
					});								
				}
			});

			$("#btnAddnew").click(function(){
				Reset();
			});
		});

		function Edit(oDoccab) {
			var id = oDoccab.id_doccab;		
			var origin = $(location).attr('origin'); 
			var url = "/MDDocudetView/Index/" + id;
		    window.location.href = url;			
		}

		function Delete(oDoccab) {
			var origin = $(location).attr('origin'); 
			var url = origin + '/api/SVMDDocumento_Cabecera/';
			var id = oDoccab.id_doccab;		
			$.ajax({
				url: url + id,
				type: "DELETE",
				success: function(result){										 
					 swal('Mensaje de confirmacion', 'Registro eliminado', 'success');
					 ReloadGrid();
				}
			});											
		}

		function Reset() {
			$("#id_doccab").val(0)
			$("#id_chofer").val(0),
			$("#doccab_tipo").val(""),
			$("#doccab_desc").val("")
			
		}
		function ReloadGrid() {
			$("#tblchofer").DataTable().clear();
			$("#tblchofer").DataTable().ajax.reload();
		}

	</script>
}