@{
	ViewData["Title"] = "Condicion Contractual";
	 Layout="~/Views/Shared/_Layout.cshtml";
}

<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<br />
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			 <div class="div-title">
				<h3 class="text-center">CONDICION CONTRACTUAL</h3>
			 </div>
			 <hr />
			 <br />		
			 <div class="container-fluid">  
				 <div class="row">
					 <input type="hidden" id="id_concontrac" value=""  />	
					 <div class="form-group col">
						<label class="control-label">(*) Descripcion: </label>
						<input id="concontrac_desc" placeholder="Descripcion" class="form-control" />						
					</div>
					<div class="form-group col">
						<label class="control-label">(*) Codigo: </label>
						<input id="concontrac_cod" placeholder="Codigo" class="form-control" />						
					</div>
				 </div>
				 <div class="row">
					 <div class="col-md-6">
						<button id="btnsave" class="btn btn-success btn-sm">Guardar</button>
						<button id="btnAddnew" class="btn btn-primary btn-sm">Limpiar Datos</button>	
					</div>	
				 </div>
				 <br />
                 <div class="row">
					 <div class="col-md-6">
						<h6><label>Campos obligatorios(*)</label></h6>
					</div>	
				 </div>
			 </div>
		</div>
	<div class="card-body">
			<table id="tblcond" class="table table-striped table-bordered" style="width: 100%">
				<thead>
					<tr>
						<th class="d-none">ID</th>
						<th>Descripcion</th>
						<th>Codigo</th>					
						<th>Accciones</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>


@section Scripts {
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#tblcond').DataTable({
				"ajax": {
				"url": "/api/SVMDCondicion_Contractual",
				"dataSrc": ""				
				},
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				},
                "scrollX": true,
                "responsive": true,								
				"columns": [
					{ data: 'id_concontrac', "visible": false },
					{ data: 'concontrac_desc' },
					{ data: 'concontrac_cod' },
					{
						data: "id", render: function (data, type, row, meta) {
							return "<button class='btn-md btn-primary' onclick='Edit(" + JSON.stringify(row) + ")'>Editar</button>" +
								   "<button class='btn-md btn-danger'  onclick='Delete(" + JSON.stringify(row) + ")'>Eliminar</button>";
						}
					}
				]
			});

			$("#btnsave").click(function() {
				var concontrac_desc = $("#concontrac_desc").val();
				var	concontrac_cod = $("#concontrac_cod").val();
				
				if(concontrac_desc === '' || concontrac_cod === ''){
					swal('Mensaje de advertencia', 'Complete los campos requeridos', 'error');
				}
                else{
					var oDCondicion = {
						id_concontrac: $.trim($("#id_concontrac").val()) == "" ? 0 : $("#id_concontrac").val(),  
						concontrac_desc: $("#concontrac_desc").val(),
						concontrac_cod: $("#concontrac_cod").val()			
					};
				
					$.post("api/SVMDCondicion_Contractual", { oDCondicion : oDCondicion })
					.done(function (data) {
						Reset();
						ReloadGrid();
						swal('Mensaje de confirmacion', 'Registro Grabado', 'success');
					});
				}
			
			});

			$("#btnAddnew").click(function(){
				Reset();
			});
		});

		function Edit(oCondi) {
			$("#id_concontrac").val(oCondi.id_concontrac);
			$("#concontrac_desc").val(oCondi.concontrac_desc);
			$("#concontrac_cod").val(oCondi.concontrac_cod);
		}

		function Delete(oCondi) {
			var id = oCondi.id_concontrac;		
			$.ajax({
				url: "api/SVMDCondicion_Contractual/" + id,
				type: "DELETE",
				success: function(result){										 
					 swal('Mensaje de confirmacion', 'Carga eliminada', 'success');
					 ReloadGrid();
				}
			});											
		}

		function Reset() {
			$("#id_concontrac").val(0);
			$("#concontrac_desc").val("");
			$("#concontrac_cod").val("");
			
		}
		function ReloadGrid() {
			$("#tblcond").DataTable().clear();
			$("#tblcond").DataTable().ajax.reload();
		}

	</script>
}