@{
    ViewData["Title"] = "Choferes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<br />
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="div-title">
                <h3 class="text-center">CHOFERES</h3>
            </div>
            <hr />
            <br />
            <div class="container-fluid">
                <div class="row">
                    <input type="hidden" id="id_chofer" value="" />
                    <div class="form-group col">
                        <label class="control-label">(*) Nombre: </label>
                        <input id="chofer_nombre" placeholder="Nombre" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <label class="control-label">(*) Apellido: </label>
                        <input id="chofer_apellido" placeholder="Apellido" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="control-label">(*) Score: </label>
                        <input id="chofer_score" placeholder="Score" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <label class="control-label">(*) Incidentes: </label>
                        <input id="chofer_incid" placeholder="Incidentes" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="control-label">(*) Fecha Nacimiento: </label>
                        <input id="chofer_fecnac" type="date" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <label class="control-label">(*) Fecha Ingreso: </label>
                        <input id="chofer_fecingr" type="date" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="control-label">(*) Tipo empleado: </label>
                        <select class="form-control" id="id_tipempl" asp-items="@(new SelectList(ViewBag.tipempl, "id_tipempl", "tipempl_desc"))">
                            <option>Seleccione empleado</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label class="control-label">(*) Cliente: </label>
                        <select class="form-control" id="id_cliente" asp-items="@(new SelectList(ViewBag.cliente, "id_cliente", "clie_razsocial"))">
                            <option>Seleccione cliente</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="control-label">(*) Tipo especialidad: </label>
                        <select class="form-control" id="id_espec" asp-items="@(new SelectList(ViewBag.espec, "id_espec", "espec_desc"))">
                            <option>Seleccione especialidad</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label class="control-label">(*) Tipo condicion contrato: </label>
                        <select class="form-control" id="id_concontrac" asp-items="@(new SelectList(ViewBag.concontrac, "id_concontrac", "concontrac_desc"))">
                            <option>Seleccione condicion</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="control-label"> Fecha Cese: </label>
                        <input id="chofer_feccese" type="date" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="chofer_act" checked="checked">
                            <label class="form-check-label">Activo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button id="btnsave" class="btn btn-success btn-sm">Guardar</button>
                        <button id="btnAddnew" class="btn btn-primary btn-sm">Limpiar Datos</button>
                    </div>
                </div>
                <br />
                 <div class="row">
					 <div class="col-md-6">
						<h6><label>Campos obligatorios(*)</label></h6>
					</div>	
				 </div>
            </div>
        </div>
        <div class="card-body">
            <table id="tblchofer" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th class="d-none">ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Score</th>
                        <th>Incidentes</th>
                        <th>Fecha Nacimiento</th>
                        <th>Fecha Ingreso</th>
                        <th class="d-none">id_tipempl</th>
                        <th class="d-none">id_cliente</th>
                        <th class="d-none">id_espec</th>
                        <th class="d-none">id_concontrac</th>
                        <th>Fecha Cese</th>
                        <th>Activo</th>
                        <th>Accciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
				$("#id_tipempl").select2({

				});
				$("#id_cliente").select2({

				});
                $("#id_espec").select2({

				});
				$("#id_concontrac").select2({

				});
		});
        $('#tblchofer').DataTable({
            "ajax": {
            "url": "/api/SVMDChofer",
            "dataSrc": ""
            },
            "pageLength": 15,
             "language": {
                "lengthMenu": "Mostrar _MENU_ registros por pagina",
                "zeroRecords": "No se encontraron registros",
                "info": "Mostrar pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No se encontraron registros",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "next": "siguiente",
                    "previous": "Anterior"
                }
            },
            "scrollX": true,
            "responsive": true,
            "columns": [
                { data: 'id_chofer', "visible": false },
                { data: 'chofer_nombre' },
                { data: 'chofer_apellido' },
                { data: 'chofer_score' },
                { data: 'chofer_incid' },
                { data: 'chofer_fecnac' },
                { data: 'chofer_fecingr' },
                { data: 'id_tipempl', "visible": false  },
                { data: 'id_cliente', "visible": false  },
                { data: 'id_espec', "visible": false  },
                { data: 'id_concontrac', "visible": false  },
                { data: 'chofer_feccese' },
                { data: 'chofer_act',
                    "render": function (data, type, row){
                        if (row.chofer_act === true) { return 'Activo';	}
                        else { return 'Inactivo'; }
                    }
                },
                {
                    data: "id", render: function (data, type, row, meta) {
                        return "<button class='btn-md btn-primary' onclick='Edit(" + JSON.stringify(row) + ")'>Editar</button>" +
                               "<button class='btn-md btn-danger'  onclick='Delete(" + JSON.stringify(row) + ")'>Eliminar</button>";
                    }
                }
            ]
        });

        $("#btnsave").click(function() {
               
               var chofer_nombre = $("#chofer_nombre").val();
               var chofer_apellido = $("#chofer_apellido").val();
               var chofer_score = $("#chofer_score").val();
               var chofer_incid = $("#chofer_incid").val();
               var chofer_fecnac = $("#chofer_fecnac").val();
               var chofer_fecingr = $("#chofer_fecingr").val();
               var id_tipempl = $("#id_tipempl").val();
               var id_cliente = $("#id_cliente").val();
               var id_espec = $("#id_espec").val();
               var id_concontrac = $("#id_concontrac").val();
          
               if(chofer_nombre === '' || chofer_apellido === '' || chofer_score === '' || chofer_incid === '' || chofer_fecnac === '' || chofer_fecingr === '' || id_tipempl === 'Seleccione empleado' || id_cliente === 'Seleccione cliente' || id_espec === 'Seleccione especialidad' || id_concontrac === 'Seleccione condicion'){
					swal('Mensaje de advertencia', 'Complete los campos requeridos', 'error');
				}
                else{
                     var mDChofer = {
                        id_chofer: $.trim($("#id_chofer").val()) == "" ? 0 : $("#id_chofer").val(),
                        chofer_nombre: $("#chofer_nombre").val(),
                        chofer_apellido: $("#chofer_apellido").val(),
                        chofer_score: $("#chofer_score").val(),
                        chofer_incid: $("#chofer_incid").val(),
                        chofer_fecnac: $("#chofer_fecnac").val(),
                        chofer_fecingr: $("#chofer_fecingr").val(),
                        id_tipempl: $("#id_tipempl").val(),
                        id_cliente: $("#id_cliente").val(),
                        id_espec: $("#id_espec").val(),
                        id_concontrac: $("#id_concontrac").val(),
                        chofer_feccese: $("#chofer_feccese").val(),
                        chofer_act: $("#chofer_act").prop("checked") ? true : false
                        };

                        $.post("api/SVMDChofer", { mDChofer : mDChofer })
                        .done(function (data) {
                            Reset();
                            ReloadGrid();
                            swal('Mensaje de confirmacion', 'Registro Grabado', 'success');
                        });
                }                               
        });

        $("#btnAddnew").click(function(){
            Reset();
        });
    });

    function Edit(oChofer) {
        $("#id_chofer").val(oChofer.id_chofer);
        $("#chofer_nombre").val(oChofer.chofer_nombre);
        $("#chofer_apellido").val(oChofer.chofer_apellido);
        $("#chofer_score").val(oChofer.chofer_score);
        $("#chofer_incid").val(oChofer.chofer_incid);
        $("#chofer_fecnac").val(oChofer.chofer_fecnac);
        $("#chofer_fecingr").val(oChofer.chofer_fecingr);
        $("#id_tipempl").val(oChofer.id_tipempl).change();
        $("#id_cliente").val(oChofer.id_cliente).change();
        $("#id_espec").val(oChofer.id_espec).change();
        $("#id_concontrac").val(oChofer.id_concontrac).change();
        $("#chofer_feccese").val(oChofer.chofer_feccese);
        $("#chofer_act").val(oChofer.chofer_act);
    }

    function Delete(oChofer) {
        var id = oChofer.id_chofer;
        $.ajax({
            url: "api/SVMDChofer/" + id,
            type: "DELETE",
            success: function(result){
                 swal('Mensaje de confirmacion', 'Registro eliminado', 'success');
                 ReloadGrid();
            }
        });
    }

    function Reset() {
        $("#id_chofer").val(0);
        $("#chofer_nombre").val("");
        $("#chofer_apellido").val("");
        $("#chofer_score").val("");
        $("#chofer_incid").val("");
        $("#chofer_fecnac").val("");
        $("#chofer_fecingr").val("");
        $("#id_tipempl").val(0);
        $("#id_cliente").val(0);
        $("#id_espec").val(0);
        $("#id_concontrac").val(0);
        $("#chofer_feccese").val("");


    }
    function ReloadGrid() {
        $("#tblchofer").DataTable().clear();
        $("#tblchofer").DataTable().ajax.reload();
    }

</script>
}