@{
	ViewData["Title"] = "Tipo licencia";
	 Layout="~/Views/Shared/_Layout.cshtml";
}

<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<br />
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			 <div class="div-title">
				<h3 class="text-center">TIPO DE LICENCIAS</h3>
			 </div>
			 <hr />
			 <br />		
			 <div class="container-fluid">  
				 <div class="row">
					 <input type="hidden" id="id_tiplinc" value=""  />	
					 <div class="form-group col">
						<label class="control-label">(*) Descripcion: </label>
						<input id="tiplinc_desc" placeholder="Descripcion tipo licencia" class="form-control" />						
					</div>
					<div class="form-group col">
						<label class="control-label">(*) Codigo: </label>
						<input id="tiplinc_cod" placeholder="Codigo tipo licencia" class="form-control" />						
					</div>
				 </div>
				 <div class="row">
					 <div class="col-md-6">
						<button id="btnsave" class="btn btn-success btn-sm">Guardar</button>
						<button id="btnAddnew" class="btn btn-primary btn-sm">Limpiar Datos</button>	
					</div>	
				 </div>
				 <br />
				 <div class="row">
					 <div class="col-md-6">
						<h6><label>Campos obligatorios(*)</label></h6>
					</div>	
				 </div>
			 </div>
		</div>
	<div class="card-body">
			<table id="tbltiplin" class="table table-striped table-bordered" style="width: 100%">
				<thead>
					<tr>
						<th class="d-none">ID</th>
						<th>Descripcion</th>
						<th>Codigo</th>	
						<th>Accciones</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>


@section Scripts {
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#tbltiplin').DataTable({
				"ajax": {
				"url": "/api/SVMDTipo_licencia",
				"dataSrc": ""				
				},
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				},
                "scrollX": true,
                "responsive": true,								
				"columns": [
					{ data: 'id_tiplinc', "visible": false },
					{ data: 'tiplinc_desc' },
					{ data: 'tiplinc_cod' },
					{
						data: "id", render: function (data, type, row, meta) {
							return "<button class='btn-md btn-primary' onclick='Edit(" + JSON.stringify(row) + ")'>Editar</button>" +
								   "<button class='btn-md btn-danger'  onclick='Delete(" + JSON.stringify(row) + ")'>Eliminar</button>";
						}
					}
				]
			});

			$("#btnsave").click(function() {

				var tiplinc_desc = $("#tiplinc_desc").val();
				var tiplinc_cod = $("#tiplinc_cod").val();

				if(tiplinc_desc === '' || tiplinc_cod === ''){
					swal('Mensaje de advertencia', 'Complete los campos requeridos', 'error');
				}
				else{
					var mDTipo = {
						id_tiplinc: $.trim($("#id_tiplinc").val()) == "" ? 0 : $("#id_tiplinc").val(),  
						tiplinc_desc: $("#tiplinc_desc").val(),
						tiplinc_cod: $("#tiplinc_cod").val()		
					};
				
					$.post("api/SVMDTipo_licencia", { mDTipo : mDTipo })
					.done(function (data) {
						Reset();
						ReloadGrid();
						swal('Mensaje de confirmacion', 'Registro Grabado', 'success');
					});
				}				
			});

			$("#btnAddnew").click(function(){
				Reset();
			});
		});

		function Edit(mDTipo) {
			$("#id_tiplinc").val(mDTipo.id_tiplinc);
			$("#tiplinc_desc").val(mDTipo.tiplinc_desc);
			$("#tiplinc_cod").val(mDTipo.tiplinc_cod);
		}

		function Delete(mDTipo) {
			var id = mDTipo.id_carga;		
			$.ajax({
				url: "api/SVMDTipo_licencia/" + id,
				type: "DELETE",
				success: function(result){										 
					 swal('Mensaje de confirmacion', 'Carga eliminada', 'success');
					 ReloadGrid();
				}
			});											
		}

		function Reset() {
			$("#id_tiplinc").val(0);
			$("#tiplinc_desc").val("");
			$("#tiplinc_cod").val("");
			
		}
		function ReloadGrid() {
			$("#tbltiplin").DataTable().clear();
			$("#tbltiplin").DataTable().ajax.reload();
		}

	</script>
}