@{
	ViewData["Title"] = "Mantenimiento Terceros";
	 Layout="~/Views/Shared/_Layout.cshtml";
}

<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<br />
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			 <div class="div-title">
				<h3 class="text-center">MANTENIMIENTO TERCEROS</h3>
			 </div>
			 <hr />
			 <br />		
			 <div class="container-fluid">  
				 <div class="row">
					 <input type="hidden" id="id_repter" value=""  />	
					 <div class="form-group col">
                        <label class="control-label">(*) Producto: </label>
                        <select class="form-control" id="id_product" asp-items="@(new SelectList(ViewBag.producto, "id_product", "product_descr"))">
                            <option>Seleccione producto</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label class="control-label">(*) Placa: </label>
                        <select class="form-control" id="id_vehi" asp-items="@(new SelectList(ViewBag.vehiculo, "id_vehi", "vehi_placa"))">
                            <option>Seleccione vehiculo</option>
                        </select>
                    </div>
				 </div>
				 <div class="row">
				   <div class="form-group col">
                        <label class="control-label">(*) Cantidad: </label>
                        <input type="number"  id="repter_cant" placeholder="Cantidad" class="form-control" /> 
                    </div>  	
                   <div class="form-group col">
                        <label class="control-label">(*) Costo Total: </label>
                        <input type="number"  id="repter_costo" placeholder="Costo" class="form-control" /> 
                    </div>                   
                </div>
				 <div class="row">
				    <div class="form-group col">
                        <label class="control-label">(*) Descripcion: </label>
                        <textarea id="repter_desc" placeholder="Descripicion" class="form-control"></textarea> 
                    </div>		                     
                </div>
				<div class="row">
                   	<div class="form-group col">
                        <label class="control-label">(*) Fecha ingreso: </label>
                        <input id="repter_fecreg" type="date" class="form-control" />
                    </div>
					<div class="form-group col">
                        <label class="control-label">(*) Fecha Salida: </label>
                        <input id="repter_fecsal" type="date" class="form-control" />
                    </div>
                </div>
				 <div class="row">
					 <div class="col-md-6">
						<button id="btnsave" class="btn btn-success btn-sm">Guardar</button>
                        <button id="btnAddnew" class="btn btn-primary btn-sm">Limpiar Datos</button>
					</div>	
				 </div>
				 <br />
				 <div class="row">
					 <div class="col-md-6">
						<h6><label>Campos obligatorios(*)</label></h6>
					</div>	
				 </div>
			 </div>
		</div>
	<div class="card-body">
			<table id="tblrepter" class="table table-striped table-bordered" style="width: 100%">
				<thead>
					<tr>
						<th class="d-none">id_repter</th>
						<th class="d-none">id_product</th>
						<th class="d-none">id_vehi</th>
						<th>Producto</th>
						<th>Placa</th>
						<th>Cantidad</th>
						<th>Costo</th>
						<th>Descripcion</th>
						<th>Fecha ingreso</th>
						<th>Fecha salida</th>
						<th>Accciones</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>


@section Scripts {
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(function () {
				$("#id_product").select2({

				});
				$("#id_vehi").select2({

				});
			});
			$('#tblrepter').DataTable({
				"ajax": {
				"url": "/api/SVMDRepuestos_Terceros",
				"dataSrc": ""				
				},
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				},
                "scrollX": true,
                "responsive": true,								
				"columns": [
					{ data: 'id_repter', "visible": false },
					{ data: 'id_vehi', "visible": false },
					{ data: 'id_product', "visible": false },
					{ data: 'product_descr' },
					{ data: 'vehi_placa' },
					{ data: 'repter_cant' },
					{ data: 'repter_costo' },
					{ data: 'repter_desc' },
					{ data: 'repter_fecreg' },
					{ data: 'repter_fecsal' },
					{
						data: "id", render: function (data, type, row, meta) {
							return "<button class='btn-md btn-primary' onclick='Edit(" + JSON.stringify(row) + ")'>Editar</button>" +
								   "<button class='btn-md btn-danger'  onclick='Delete(" + JSON.stringify(row) + ")'>Eliminar</button>";
						}
					}
				]
			});

			$("#btnsave").click(function() {

				var id_product = $("#id_product").val();
				var	id_vehi = $("#id_vehi").val();
				var	repter_cant = $("#repter_cant").val();
				var	repter_costo = $("#repter_costo").val();
				var	repter_desc = $("#repter_desc").val();
				var	repter_fecreg = $("#repter_fecreg").val();	
				var	repter_fecsal = $("#repter_fecsal").val();

				if(id_product === 'Seleccione producto' || id_vehi === 'Seleccione vehiculo' || repter_cant === '' || repter_costo === '' || repter_desc === '' || repter_fecreg === '' || repter_fecsal === ''){
					swal('Mensaje de advertencia', 'Complete los campos requeridos', 'error');
				}
				else{
					var oReputer = {
						id_repcam: $.trim($("#id_repter").val()) == "" ? 0 : $("#id_repter").val(),  
						id_product: $("#id_product").val(),
						id_vehi: $("#id_vehi").val(),
						repter_cant: $("#repter_cant").val(),
						repter_costo: $("#repter_costo").val(),
						repter_desc: $("#repter_desc").val(),
						repter_fecreg: $("#repter_fecreg").val(),	
						repter_fecsal: $("#repter_fecsal").val()	
					};
				
					$.post("api/SVMDRepuestos_Terceros", { oReputer : oReputer })
					.done(function (data) {
						Reset();
						ReloadGrid();
						swal('Mensaje de confirmacion', 'Registro Grabado', 'success');
					});
				}				
			});

			$("#btnAddnew").click(function(){
				Reset();
			});
		});

		function Edit(oReputer) {
			$("#id_repter").val(oReputer.id_repter);
			$("#id_product").val(oReputer.id_product).change();
			$("#id_vehi").val(oReputer.id_vehi).change();
			$("#repter_cant").val(oReputer.repter_cant);
			$("#repter_costo").val(oReputer.repter_costo);
			$("#repter_desc").val(oReputer.repter_desc);
			$("#repter_fecreg").val(oReputer.repter_fecreg);
			$("#repter_fecsal").val(oReputer.repter_fecsal);
		}

		function Delete(oReputer) {
			var id = oReputer.id_repter;		
			$.ajax({
				url: "api/SVMDRepuestos_Terceros/" + id,
				type: "DELETE",
				success: function(result){										 
					 swal('Mensaje de confirmacion', 'Carga eliminada', 'success');
					 ReloadGrid();
				}
			});											
		}

		function Reset() {
		    $("#id_repter").val(0);
			$("#id_product").val(0).change();
			$("#id_vehi").val(0).change();
			$("#repter_cant").val(0);
			$("#repter_costo").val(0);
			$("#repter_desc").val("");
			$("#repter_fecreg").val("");
			$("#repter_fecsal").val("");
			
		}
		function ReloadGrid() {
			$("#tblrepter").DataTable().clear();
			$("#tblrepter").DataTable().ajax.reload();
		}

	</script>
}